<div
    gdAreas="navbar | mainrow"
    gdRows="70px auto"
    gdColumns="auto"
    class="grid"
>
    <div gdArea="navbar"><app-navbar></app-navbar></div>
    <!--<div gdArea=loading><app-loading *ngIf="ls.isLoading | async"></app-loading> </div>-->
    <div gdArea="mainrow" class="main">
        <mat-sidenav-container>
            <mat-sidenav
                #sidenav
                [opened]="ms.sideNavVisible | async"
                [mode]="mode"
            >
                <app-sidemenu></app-sidemenu>
            </mat-sidenav>
            <mat-sidenav-content [ngStyle]="getWorbenchStyle()">
                <router-outlet></router-outlet>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</div>

<!-- <div
    class="grid"
    gdAreas="navbar navbar | sidebar main"
    gdAreas.lt-md="navbar |main"
    gdGap="0.5rem"
    gdRows="4.5em auto"
    gdColumns="10rem auto"
    gdColumns.lt-md="100%"
>
    <div gdArea="navbar" class="navbar">
        <app-navbar></app-navbar>
    </div>
    <div gdArea="sidebar" class="sidebar" fxHide.lt-md="true">
        <app-sidemenu></app-sidemenu>
    </div>
    <div gdArea="main" class="main">
        <router-outlet></router-outlet>
    </div>
</div> -->
