<div *ngIf="food != null">
    <table>
        <tr>
            <td>Name</td>
            <td>
                <input placeholder="Set Name"
                    type="text" 
                    [(ngModel)]="food.name"/>
            </td>
        </tr>
        <tr>
            <td>Price</td>
            <td>
                <input type="number" 
                    placeholder="Set the food price"
                    [(ngModel)]="food.price"/>
            </td>
        </tr>
        <tr>
            <td>Calories</td>
            <td>
                <input type="number"
                    placeholder="Set the calories"
                    [(ngModel)]="food.calories"/>
            </td>
        </tr>
        <tr>
            <td>
                <button (click)="doSave()">
                    Save
                </button>
            </td>
            <td></td>
        </tr>
    </table>
</div>