<mat-card *ngIf="food != null">
    <mat-card-header>
        <mat-card-title>Edit Food</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form
            [formGroup]="editForm"
            (ngSubmit)="storeFood(editForm)"
            role="form"
            novalidate
            fxLayout="column"
        >
            <mat-form-field>
                <input
                    matInput
                    type="text"
                    placeholder="Name"
                    formControlName="name"
                />
                <mat-error>Name is required (min 3 characters)</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input
                    matInput
                    type="number"
                    placeholder="Price"
                    formControlName="price"
                />
                <mat-error>Must be >= 0</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input
                    matInput
                    type="number"
                    placeholder="Calories"
                    formControlName="calories"
                />
            </mat-form-field>
            <button mat-raised-button type="submit" color="accent" [disabled]="editForm.invalid">
                Save
            </button>
            <button mat-raised-button color="accent" (click)="onCancel()">
                Cancel
            </button>
        </form>
    </mat-card-content>
</mat-card>
